$color-graphite: #1B1C21;
$color-pink: #FF3E79;

.prices__policy {
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 40px;
	&-text {
		font-family: 'TT Lakes';
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		color: $color-graphite;
	}
	&-link {
		display: inline-block;
		font-family: 'TT Lakes';
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.2px;
		color: $color-graphite;
		padding-top: 16px;
		padding-right: 10px;
		font-weight: 500;
		&:hover {
			opacity: 0.8;
			transform: scale(1.1);
		}
		&::after {
			content: '';
			display: inline-block;
			width: 8px;
			height: 8px;
			margin-left: 10px;
			border: 2px solid $color-pink;
			border-left: transparent;
			border-bottom: transparent;
			transform: rotate(45deg);
		}
	}
}

@media screen and (min-width: 768px) {
    .prices__policy {
        padding-bottom: 43px;
    }

    .prices__policy-text {
        padding-top: 24px;
        padding-left: 30px;
        max-width: 451px;
    }

    .prices__policy-link {
        padding-left: 30px;
        font-weight: 500;
    }
}